body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: #222;
    font-family: 'Open Sans', sans-serif;
    background-image: url('https://c.pxhere.com/images/78/33/3759ad6d2bc35df53d1fcd68e149-1448275.jpg!d');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    font-size: 120%;
}

.card {
    background: #000000d0;
    color: whitesmoke;
    padding: 2em;
    border-radius: 30px;
    width: 100%;
    max-width: 420px;
    margin: 1em;
}

h1.temp {
    margin: 0;
    margin-bottom: 0.4em;
}

.flex {
    display: flex;
    align-items: center;
}

.description {
    text-transform: capitalize;
    margin-left: 8px;
}

.weather.loading {
    visibility: hidden;
    max-height: 20px;
    position: relative;
}

.weather.loading:after{
    visibility: visible;
    content: "Loading....";
    color: white;
    position: absolute;
    top: 0;
    left: 20px;
}

.card:hover {
    box-shadow: 5px 5px 5px #00000056;
}
